.animal {
  width: 100px;
  height: 100px;
  margin: 5px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.animal-image {
  width: 90px;
  height: 90px;
}

.name {
  font-size: x-large;
}

.type {
  font-size: small;
}
